In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.metrics import cohen_kappa_score

In [2]:
df = pd.read_csv("fiftytweets_labeled.csv")

In [3]:
df.head()

,Remove,Datetime,Text,Username,Sentiment,label,Unnamed: 6
0,0,2022-02-11 23:19:31+00:00,CLEARED LOWER HUDSON VALLEY: Crash: WB on I-28...,ThruwayTraffic,1,1,0
1,1,2022-02-11 23:12:06+00:00,UPDATE LOWER HUDSON VALLEY: Crash: WB on I-287...,ThruwayTraffic,1,1,0
2,2,2022-02-11 22:44:13+00:00,LOWER HUDSON VALLEY: Crash: WB on I-287 exit 1...,ThruwayTraffic,1,1,0
3,3,2022-02-11 20:39:32+00:00,CLEARED BUFFALO: Crash: SB on I-190 at exit 2:...,ThruwayTraffic,1,1,0
4,4,2022-02-11 19:49:24+00:00,BUFFALO: Crash: SB on I-190 at exit 2: Left la...,ThruwayTraffic,1,1,0

In [4]:
arwa = df["Sentiment"]
jess = df["label"]

In [5]:
arwa.head()

0    1
1    1
2    1
3    1
4    1
Name: Sentiment, dtype: int64

In [6]:
jess.head()

0    1
1    1
2    1
3    1
4    1
Name: label, dtype: int64

In [10]:
cohen_kappa_score(arwa, jess)

0.8349514563106796

In [2]:
data = pd.read_csv("traffic_labeled_tweets.csv")

In [3]:
data.head()

,label,jess_labels,Datetime,Text,Username,UserLocation,ReplyCount,LikeCount,RetweetCount
0,0,0,2022-02-24 18:20:02+00:00,Construction on #AllTrains at New York Penn St...,511NY,New York State,0.0,0.0,0.0
1,0,0,2022-02-24 10:04:16+00:00,Cleared: Construction on #ELine SB from 23 St ...,511nyACE,New York City,0.0,0.0,0.0
2,0,0,2022-02-24 10:04:16+00:00,Cleared: Construction on #ELine SB from 23 St ...,511NY,New York State,0.0,0.0,0.0
3,0,0,2022-02-24 02:43:12+00:00,Construction on #ELine SB from 23 St to Spring...,511nyACE,New York City,0.0,0.0,0.0
4,0,0,2022-02-24 02:43:11+00:00,Construction on #ELine SB from 23 St to Spring...,511NY,New York State,0.0,0.0,0.0

In [5]:
chenese = data["label"]
jess = data["jess_labels"]

In [6]:
cohen_kappa_score(chenese, jess)

0.854351381595937